<section class="SC-Article_cta sc-bg-lightest sc-expand sc-ps-spacious sc-pe-spacious sc-me-xlarge">
  <div class="SC-Article_cta_body sc-ms-auto sc-ps-medium sc-text-center">
    <h4 class="sc-font-bold sc-font-xlarge">{{ 'article.cta.title' | t }}</h4>
    <p class="sc-font-medium">{{ 'article.cta.subtitle' | t }}</p>
    <div class="sc-flex-col-to-row">
      <input class="SC-Field_input sc-expand" type="email">
      <button type="button" class="SC-Button SC-Button-secondary" style="height: var(--sc-input-height);">{{ 'article.cta.btn' | t }}</button>
    <div>
  </div>
</section>
