<div class="SC-Menu_item sc-hide-up-to-large sc-search sc-pos-absolute sc-top-0" data-js-toggle-active-target="bar">
  <form action="{{ current_store.search_path }}" accept-charset="UTF-8" method="get">
    <div class="sc-flex sc-align-items-center">
      <input type="search" name="q" id="q" data-search-input class="sc-search_input" autocomplete="off" placeholder="{{ "header.search.placeholder" | t }}" data-js-toggle-active-target="bar">
    </div>
  </form>
</div>
