:root {
  --sc-article-width: 800px;
  --sc-border-rounded: 7px;
  --sc-grid-gap: var(--sc-spacing-large);
  --sc-max-width: 1260px;
  --sc-color-golden: #ffab41;
  --sc-border-lightest: 1px solid rgba(128, 128, 128, 0.16);
  --sc-spacing-base: 20px;
}

@media screen and (min-width: 768px) {
  .sc-align-items-end-md {
    align-items: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .sc-text-right-md {
    text-align: right;
  }
}

.sc-border-bottom-none {
  border-bottom: none;
}

.sc-color-white {
  color: white;
}

.sc-container-wrap {
  max-width: var(--sc-max-width);
  margin-left: auto;
  margin-right: auto;
}

.sc-h-100 {
  height: 100%;
}

.sc-font-400 {
  font-weight: 400;
}

.sc-image {
  width: 100%;
  height: 200px;
  background: rgb(247, 247, 247);
}

@media screen and (min-width: 992px) {
  .sc-image {
    height: 300px;
  }
}

.sc-image img,
.sc-image svg {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

.sc-fit-cover {
  object-fit: cover;
  object-position: center;
}

.sc-fit-contain {
  object-fit: contain;
  object-position: center;
}

.sc-height-100 {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .sc-ps-small-sm {
    padding-left: var(--sc-spacing-small);
    padding-right: var(--sc-spacing-small);
  }
}

.sc-ms-auto {
  margin-left: auto;
  margin-right: auto;
}

.sc-display-inline-flex {
  display: inline-flex;
}

.SC-Article {
  font-size: var(--sc-font-medium);
  line-height: 1.7;
  max-width: var(--sc-article-width);
}
.SC-Article_data > span:not(:last-child):after {
  position: absolute;
  content: "";
  background: var(--sc-shade-light);
  top: 7px;
  height: 35%;
  width: 1px;
  margin-left: 10px;
}
.SC-Article_hero_image,
.SC-Article_placeholder {
  display: block;
  height: 350px;
}
@media screen and (min-width: 768px) {
  .SC-Article_hero_image,
  .SC-Article_placeholder {
    height: 450px;
  }
}
@media screen and (min-width: 1440px) {
  .SC-Article_hero_image,
  .SC-Article_placeholder {
    height: 550px;
  }
}
.SC-Article_hero_image img,
.SC-Article_hero_image svg,
.SC-Article_placeholder img,
.SC-Article_placeholder svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.SC-Article_cta {
  display: block;
}
.SC-Article_cta_body {
  max-width: 600px;
}

.SC-ArticleCard_image {
  aspect-ratio: 1/1;
}
@media screen and (min-width: 1440px) {
  .SC-ArticleCard_image {
    max-height: 450px;
    width: 100%;
  }
}
.SC-ArticleCard_image img,
.SC-ArticleCard_image svg {
  object-fit: cover;
  height: 100%;
}

.sc-button {
  display: inline-block;
  position: relative;
  font-size: var(--sc-font-medium);
}
.sc-button_outline:hover {
  color: var(--sc-menu-link-color-hover);
}
.sc-button_outline:hover span::before {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.sc-button_outline:hover span::after {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.sc-button_outline span::before,
.sc-button_outline span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  -webkit-transition: 0.35s cubic-bezier(0.04, 0.11, 0.6, 0.97);
  -o-transition: 0.35s cubic-bezier(0.04, 0.11, 0.6, 0.97);
  transition: 0.35s cubic-bezier(0.04, 0.11, 0.6, 0.97);
}

.sc-card {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  height: 100%;
}
.sc-card_image {
  width: 100%;
  aspect-ratio: 1/1;
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.sc-card_image:hover {
  transform: scale(1.03);
}
.sc-card_image img,
.sc-card_image svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sc-cart_dropdown {
  color: initial;
  z-index: 6;
  height: 100%;
  position: fixed;
  right: -380px;
  width: 380px;
  top: 0;
  transition: all 0.3s ease;
  max-width: calc(100% - 20px);
}
.sc-cart_dropdown.is-active {
  right: 0;
  transition: all 0.3s ease;
}
.sc-cart_header {
  display: flex;
  justify-content: space-between;
}
.sc-cart_header_section {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc-cart_header h3 {
  font-weight: 300;
}
.sc-cart_item img {
  max-width: 70px;
}
.sc-cart_total {
  position: absolute;
  bottom: 60px;
  width: 100%;
  background-color: white;
}
.sc-cart_actions {
  display: flex;
  gap: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.sc-cart_button {
  display: inline-flex;
  justify-content: center;
  color: currentColor;
  font-size: 12px;
  height: 60px;
  letter-spacing: 0.2em;
  line-height: 60px;
  text-transform: uppercase;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}
.sc-cart_overlay {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.sc-cart_dropdown.is-active + .sc-cart_overlay {
  position: fixed;
}

.SC-CategoryCard {
  position: relative;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.SC-CategoryCard_image {
  width: 100%;
  aspect-ratio: 1/1;
}
.SC-CategoryCard_image img,
.SC-CategoryCard_image svg {
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.SC-CategoryCard_image img:hover,
.SC-CategoryCard_image svg:hover {
  transform: scale(1.03);
}

.SC-Colour {
  background-color: var(--sc-shade-neutral);
  border-radius: 50%;
  display: block;
  width: 25px;
  height: 25px;
}

.sc-header {
  background-color: var(--sc-header-bg);
  color: var(--sc-header-color);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.sc-header_inner {
  top: 0;
  position: relative;
  padding-left: var(--sc-spacing-small);
  padding-right: var(--sc-spacing-small);
}
@media screen and (min-width: 768px) {
  .sc-header_inner {
    padding-left: var(--sc-spacing-large);
    padding-right: var(--sc-spacing-large);
  }
}
.sc-header_inner.sticky {
  position: fixed !important;
  max-width: 100%;
  transition-duration: 1s;
  background: var(--sc-header-bg);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
}
.sc-header_inner.sticky .sc-cart_dropdown {
  height: 100vh;
}
.sc-header .tier2.mega {
  padding-top: var(--sc-spacing-base);
}
@media screen and (min-width: 992px) {
  .sc-header .tier2.mega {
    margin-right: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
  }
}

.SC-FeaturedCategories .tns-controls button {
  border-radius: unset;
}
.SC-FeaturedCategories .tns-controls button:hover {
  background-color: transparent;
}

.SC-FeaturedProducts .tns-controls button {
  border-radius: unset;
}
.SC-FeaturedProducts .tns-controls button:hover {
  background-color: transparent;
}

.SC-PageBanner {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SC-ProductCard_image img {
  object-fit: cover;
}

.sc-search {
  position: absolute;
  width: 100%;
  height: 0;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}
.sc-search.is-active {
  height: 100%;
}
.sc-search_input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 0;
  height: 0;
  text-align: center;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}
.sc-search_input.is-active {
  background: var(--sc-header-bg);
  color: var(--sc-header-color);
  border-bottom: 1px solid var(--sc-shade-light);
  height: 100%;
  width: 100%;
  padding: var(--sc-spacing-medium) var(--sc-spacing-base);
  z-index: var(--sc-depth-neutral);
}
.sc-search_input.is-active::placeholder {
  color: var(--sc-header-color);
  opacity: 0.9;
}
.sc-search_input.is-active + svg {
  fill: var(--sc-shade-light);
}

.SC-SingleCard {
  display: flex;
}
.SC-SingleCard_image {
  width: 100%;
  aspect-ratio: 1/1;
}
.SC-SingleCard_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sc-tab_button {
  position: relative;
  padding: var(--sc-spacing-medium) var(--sc-spacing-base);
}
.sc-tab_button.is-active {
  background-color: white;
  border-width: 2px;
  margin-bottom: -2px;
}

@media screen and (max-width: 992px) {
  .SC-Menu.dropdown:not(.SC-Cart) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--sc-spacing-large);
    opacity: 0;
    pointer-events: none;
    background-color: white;
    z-index: var(--sc-depth-overlay);
    transform: scale(0.9);
    transition: 100ms transform ease, 100ms opacity ease;
    margin-left: 0;
    margin-right: 0;
  }
  .SC-Menu.dropdown.is-active {
    opacity: 1;
    pointer-events: inherit;
    transform: scale(1);
  }
  .SC-Menu.tier1.dropdown {
    margin-left: 0;
    margin-right: 0;
  }
  .SC-Menu.tier2.dropdown.is-active,
  .SC-Menu.tier3.dropdown.is-active {
    box-shadow: none;
  }
  .SC-Menu_button {
    display: block;
  }
}
.SC-ProductCard_actions .SC-Button {
  font-size: var(--sc-font-base);
}

.tns-controls button {
  width: 25px;
  height: 25px;
}

.SC-FeaturedCategories .tns-controls button,
.SC-FeaturedProducts .tns-controls button {
  top: 0;
}

@media screen and (min-width: 768px) {
  .SC-FeaturedCategories .tns-controls button[data-controls="prev"],
  .SC-FeaturedProducts .tns-controls button[data-controls="prev"] {
    left: unset;
    right: 80px;
  }
}

.SC-TabPanel_body:not(.sc-hide) {
  border-top-width: 2px;
}

@media screen and (max-width: 992px) {
  .SC-Menu.center {
    justify-content: start;
  }
}

@media screen and (max-width: 992px) {
  .SC-Count {
    top: unset;
  }
}

.SC-ProductCard_image {
  aspect-ratio: 1/1;
}
.SC-ProductCard_points {
  background-color: rgba(242, 242, 242, 0.7);
  margin-bottom: 0;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.sc-review {
  display: grid;
}

.sc-review_wrapper {
  gap: var(--sc-spacing-base);
  padding: 50px;
  height: -webkit-fill-available;
  text-align: center;
  border: var(--sc-border-lightest);
  box-shadow: 0 1px 4px #8080801c;
}

.sc-review_rating svg {
  fill: var(--sc-color-golden);
}

.sc-review_message {
  font-style: italic;
}

/*# sourceMappingURL=clean.css.map */
