@charset "UTF-8";
:root {
  --sc-article-width: 800px;
  --sc-border-rounded: 7px;
  --sc-grid-gap: var(--sc-spacing-large);
  --sc-max-width: 1260px;
  --sc-color-golden: #ffab41;
  --sc-color-primary-h: 220;
  --sc-color-primary-s: 15%;
  --sc-color-primary-l: 35%;
  --sc-color-primary: hsl(220, 15%, 35%);
  --sc-color-secondary-h: 32;
  --sc-color-secondary-s: 5%;
  --sc-color-secondary-l: 18%;
  --sc-color-secondary: hsl(32, 5%, 18%);
  --sc-menu-link-color-hover: var(--sc-color-primary);
  --sc-footer-bg: white;
  --sc-footer-color: var(--sc-shade-darkest);
  --sc-color-sale: #e68e2e;
  --sc-color-sale-h: 30;
  --sc-color-sale-s: 75%;
  --sc-color-sale-l: 55%;
  --sc-color-error: #e05252;
  --sc-color-sale-h: 0;
  --sc-color-sale-s: 70%;
  --sc-color-sale-l: 60%;
  --sc-font-micro: 12px;
  --sc-font-normal: 300;
  --sc-font-bold: 500;
  --sc-max-width: 1260px;
  --sc-grid-gap: 2rem;
  --sc-notice-bar-bg: #e5eff5;
  --sc-notice-bar-color: rgb(0, 98, 154);
  --sc-footer-bg: var(--sc-shade-darkest);
  --sc-footer-color: var(--sc-shade-lightest);
  --sc-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  --sc-shadow-2: 0 4px 8px rgba(0, 0, 0, 0.08);
  --sc-shadow-3: 0 8px 24px rgba(0, 0, 0, 0.12);
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

h1 {
  font-family: var(--sc-font-family-secondary);
}

@media screen and (min-width: 992px) {
  .SC-ArticleCard_image {
    max-height: 450px;
    width: 100%;
  }
}

.SC-Article {
  font-size: var(--sc-font-medium);
  line-height: 1.7;
  max-width: var(--sc-article-width);
}
.SC-Article_data > span:not(:last-child)::after {
  position: absolute;
  content: "";
  background: var(--sc-shade-light);
  top: 7px;
  height: 35%;
  width: 1px;
  margin-left: 10px;
}
.SC-Article_hero_image, .SC-Article_placeholder {
  display: block;
  height: 350px;
}
@media screen and (min-width: 768px) {
  .SC-Article_hero_image, .SC-Article_placeholder {
    height: 450px;
  }
}
@media screen and (min-width: 1440px) {
  .SC-Article_hero_image, .SC-Article_placeholder {
    height: 550px;
  }
}
.SC-Article_hero_image img,
.SC-Article_hero_image svg, .SC-Article_placeholder img,
.SC-Article_placeholder svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.SC-Article_cta {
  display: block;
}
.SC-Article_cta_body {
  max-width: 600px;
}
.SC-Article_image {
  aspect-ratio: 1/1;
}
.SC-Article_image img,
.SC-Article_image svg {
  object-fit: cover;
  height: 100%;
}

.SC-BannerOverlay {
  background: #ffffff;
}

.SC-Breadcrumb_item::after {
  content: "•";
  font-size: 8px;
}
.SC-Breadcrumb_item a {
  font-size: 12px;
  text-transform: uppercase;
}

.sc-button {
  display: inline-block;
  position: relative;
  font-size: var(--sc-font-medium);
}
.sc-button-outline:hover {
  color: var(--sc-menu-link-color-hover);
}
.sc-button-outline:hover span::before,
.sc-button-outline:hover span::after {
  transform: scaleX(0);
  transition-delay: 0s;
}
.sc-button-outline:hover span::after {
  transform-origin: 0 50%;
}
.sc-button-outline span::before,
.sc-button-outline span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transition: 0.35s cubic-bezier(0.04, 0.11, 0.6, 0.97);
}
.sc-button_input {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: var(--sc-font-small);
}

.sc-cart_dropdown {
  color: initial;
  z-index: 6;
  height: 100%;
  position: fixed;
  right: -380px;
  width: 380px;
  top: 0;
  transition: all 0.3s ease;
  max-width: calc(100% - 20px);
}

.sc-cart_dropdown.is-active {
  right: 0;
  transition: all 0.3s ease;
}

.sc-cart_header {
  display: flex;
  justify-content: space-between;
}

.sc-cart_header_section {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc-cart_header h3 {
  font-weight: 300;
}

.sc-cart_item img {
  max-width: 70px;
}

.sc-cart_total {
  position: absolute;
  bottom: 60px;
  width: 100%;
  background-color: white;
}

.sc-cart_actions {
  display: flex;
  gap: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sc-cart_button {
  display: inline-flex;
  justify-content: center;
  color: currentColor;
  font-size: 12px;
  height: 60px;
  letter-spacing: 0.2em;
  line-height: 60px;
  text-transform: uppercase;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}

.sc-cart_overlay {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.sc-cart_dropdown.is-active + .sc-cart_overlay {
  position: fixed;
}

.SC-Colour {
  background-color: var(--sc-shade-neutral);
  border-radius: 50%;
  display: block;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 992px) {
  .SC-Count {
    top: unset;
  }
}

.SC-Field-special:not(.SC-Field-global) input {
  font-size: var(--sc-font-small);
}
.SC-Field-special:not(.SC-Field-global) svg {
  height: 13px;
}
.SC-Field_input-expanded {
  min-height: 60px;
}
@media screen and (min-width: 768px) {
  .SC-Field_input-expanded {
    font-size: 17px;
  }
}

#SC-GlobalSearch.SC-Field-icon input {
  padding-left: var(--sc-spacing-base);
}
#SC-GlobalSearch.SC-Field-icon svg {
  height: 18px;
  width: 18px;
  left: unset;
  right: var(--sc-spacing-base);
}

.SC-FeaturedCategories_header, .SC-FeaturedCategories_wrapper, .SC-FeaturedCategories_footer {
  max-width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 992px) {
  .SC-FeaturedCategories_header, .SC-FeaturedCategories_wrapper, .SC-FeaturedCategories_footer {
    max-width: calc(100% - 60px);
  }
}

.SC-FeaturedProducts_header, .SC-FeaturedProducts_wrapper, .SC-FeaturedProducts_footer {
  max-width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 992px) {
  .SC-FeaturedProducts_header, .SC-FeaturedProducts_wrapper, .SC-FeaturedProducts_footer {
    max-width: calc(100% - 60px);
  }
}

.sc-header {
  background-color: var(--sc-header-bg);
  color: var(--sc-header-color);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.sc-header .tier2.mega {
  padding-top: var(--sc-spacing-base);
}
.sc-header_inner {
  position: relative;
  top: 0;
  padding-left: var(--sc-spacing-small);
  padding-right: var(--sc-spacing-small);
}
@media screen and (min-width: 768px) {
  .sc-header_inner {
    padding-left: var(--sc-spacing-large);
    padding-right: var(--sc-spacing-large);
  }
}
@media screen and (min-width: 992px) {
  .sc-header_inner {
    border-bottom: 1px solid var(--sc-shade-lightest);
  }
}
.sc-header_inner.sticky {
  position: fixed !important;
  max-width: 100%;
  transition-duration: 1s;
  background: var(--sc-header-bg);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
}
.sc-header_inner.sticky .sc-cart_dropdown {
  height: 100vh;
}
@media screen and (min-width: 992px) {
  .sc-header .tier2.mega {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
}

.sc-image {
  width: 100%;
  height: 200px;
  background: rgb(247, 247, 247);
}
@media screen and (min-width: 992px) {
  .sc-image {
    height: 300px;
  }
}
.sc-image img,
.sc-image svg {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 992px) {
  .SC-Menu.dropdown:not(.SC-Cart) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--sc-spacing-large);
    opacity: 0;
    pointer-events: none;
    background-color: white;
    z-index: var(--sc-depth-overlay);
    transform: scale(0.9);
    transition: 100ms transform ease, 100ms opacity ease;
  }
}
@media screen and (max-width: 992px) {
  .SC-Menu.dropdown.is-active {
    opacity: 1;
    pointer-events: inherit;
    transform: scale(1);
  }
}
@media screen and (max-width: 992px) {
  .SC-Menu.center {
    justify-content: start;
  }
}

.SC-PageBanner {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SC-ProductCard_image {
  aspect-ratio: 1/1;
}
.SC-ProductCard_image img {
  object-fit: cover;
}
.SC-ProductCard_image_points {
  background-color: rgba(242, 242, 242, 0.7);
  margin-bottom: 0;
}
.SC-ProductCard_image_actions .SC-Button {
  font-size: var(--sc-font-base);
}
.SC-ProductCard_tag {
  font-size: var(--sc-font-small);
}
.SC-ProductCard_compare input {
  height: 20px;
  width: 20px;
  border-width: 2px;
  border-color: var(--sc-shade-dark);
}

.sc-review {
  display: grid;
}
.sc-review_wrapper {
  gap: var(--sc-spacing-base);
  padding: 50px;
  height: -webkit-fill-available;
  text-align: center;
}
.sc-review_rating svg {
  fill: var(--sc-color-golden);
}
.sc-review_message {
  font-style: italic;
}

.sc-search {
  background-color: var(--sc-header-bg);
  color: var(--sc-header-color);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
}
.sc-search:not(.is-active) {
  -webkit-animation: fadeOut 0.2s ease-out both;
  -moz-animation: fadeOut 0.2s ease-out both;
  animation: fadeOut 0.2s ease-out both;
}
.sc-search.is-active {
  background-color: var(--sc-header-bg);
  color: var(--sc-header-color);
  height: 100%;
  width: 100%;
  visibility: visible;
  z-index: var(--sc-depth-overlay);
  position: fixed;
  inset: 0;
  -webkit-animation: fadeIn 0.3s ease both;
  -moz-animation: fadeIn 0.3s ease both;
  animation: fadeIn 0.3s ease both;
}
@media screen and (min-width: 768px) {
  .sc-search_button svg {
    width: 30px;
    height: 30px;
  }
}
.sc-search_input {
  background: var(--sc-header-bg);
  color: var(--sc-header-color);
  border-bottom: 1px solid var(--sc-shade-light);
  height: 100%;
  width: 100%;
  padding: var(--sc-spacing-medium) var(--sc-spacing-base);
  z-index: var(--sc-depth-neutral);
}
.sc-search_input::placeholder {
  color: var(--sc-header-color);
  opacity: 0.9;
}
.sc-search_input + svg {
  fill: var(--sc-shade-light);
}

.SC-CategorySubcategories {
  font-size: var(--sc-font-small);
}

.SC-Tab_button {
  flex-grow: 2;
  padding: var(--sc-spacing-medium);
  text-align: center;
  box-shadow: 0 -1px 0 #eee inset;
  background-color: #f2f2f2;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
}
.SC-Tab_button.is-active {
  box-shadow: -1px 0 #fff inset;
  background-color: #ffffff;
}

.SC-TabPanel_body:not(.sc-hide) {
  border-top-width: 2px;
}

.sc-bg-primary {
  background-color: var(--sc-color-primary);
}

.sc-border-bottom-none {
  border-bottom: none;
}

.sc-color-white {
  color: white;
}

.sc-container-wrap {
  max-width: var(--sc-max-width);
  margin-left: auto;
  margin-right: auto;
}

.sc-h-100,
.sc-height-100 {
  height: 100%;
}

.sc-display-inline-flex {
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .sc-align-items-end-md {
    align-items: flex-end;
  }
}

.sc-font-400 {
  font-weight: 400;
}

.sc-font-500 {
  font-weight: 500;
}

.sc-font-micro {
  font-size: 12px;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.sc-fit-cover {
  object-fit: cover;
  object-position: center;
}

.sc-fit-contain {
  object-fit: contain;
  object-position: center;
}

.sc-field-outline {
  border-radius: var(--sc-border-radius);
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: all 0.25s ease-in-out;
}
.sc-field-outline:focus-within {
  outline-color: var(--sc-color-primary);
}

.sc-right-0 {
  right: 0;
}

@media screen and (max-width: 992px) {
  .sc-ps-small-sm {
    padding-left: var(--sc-spacing-small);
    padding-right: var(--sc-spacing-small);
  }
}

.tns-controls button {
  background-color: transparent;
  transition: all 0.25s ease-in-out;
  width: 25px;
  height: 25px;
}
.tns-controls button:hover {
  background-color: transparent;
}

.tns-nav button {
  background: hsla(var(--sc-color-primary-h), var(--sc-color-primary-s), 92%, 1);
}
.tns-nav button.tns-nav-active {
  background: var(--sc-color-primary);
}

@media screen and (min-width: 768px) {
  .sc-text-right-md {
    text-align: right;
  }
}

/*# sourceMappingURL=styles.css.map */
