<div class="faqs-holder">
  <h4 class="accordion sc-m-none sc-font-large sc-font-bold">
    <span class="accordion-icon-text-holder sc-flex sc-align-center">
      {%- render 'shared/icons/faq' %}
      {%- if content_block.title != blank %}
        {{ content_block.title }}
      {%- endif %}
    </span>
  </h4>
  <div class="panel">
    <div class="panel-holder">
      {%- if content_block.content != blank %}
          {{ content_block.content }}
      {%- endif %}
    </div>
  </div>
</div>